.btn-link {
  padding-left: 0;
}

.card-body {
  min-height: 300px;
}

.movie-view-link {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.bi {
  cursor: pointer;
}

.bi-star-fill {
  color: #ffd700;
}