@import "./scss/custom";

$tertiary-color: #850781;

$primary-font: 'Roboto';

body, .main-view {
  min-height: 100vh;
  font-family: $primary-font;
}

.container {
  max-width: unset;
  padding: 0;
}

.row {
  margin-right: unset;
  margin-left: unset;
}